:root {
    --Background_color:  #2965f1;
    --Letras_naranjas: #F16529;
    --figuras: #FFFFFF;
    --letra_de_proyectos-e-inputs: #6C6B6B;
    --enlaces_de_proyectos: #B5B5B5;
    --input_de_contacto: #CBCBCB;

    --font_logo: 'Hammersmith One', sans-serif;
    --font_titulos: 'Hammersmith One', sans-serif;
    --font_redes:'Hammersmith One', sans-serif;
    --font_textos: 'Lato', sans-serif;

}

.section_2 {
    display: flex;
    height: calc(100vh - 3.5rem);
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-color: antiquewhite; */
    /* margin-top: 3.5rem; */
}

.circulo_img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: .5rem solid var(--figuras);
    margin-right: 3rem;

}

.lado_izquierdo h2 {
    margin-bottom: 1rem;
    
}

.lado_izquierdo h2{
    margin-top: 1rem;
    font-family: var(--font_titulos);
    font-size: 4rem;
    color: var(--figuras);
    letter-spacing: 5px;

}

/* MOIBILE */

@media screen and (max-width:480px) {
    .lado_izquierdo h2 {
        margin-top: 1rem;
        font-size: 2rem;
        letter-spacing: 0;   
    }

    .section_2 {
        flex-direction: column-reverse;
        height: auto;
        width: 90%;
        justify-content: flex-end;
        /* background-color: antiquewhite; */
        margin-top: 2rem;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .circulo_img{
        width: 13rem;
        height: 13rem;    
        border: .3rem solid var(--figuras);
        margin-right: 0;
    }

    .h2{
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0;  
    }
}

/* TABLET */

@media screen and  (min-width:480px) and (max-width:960px) {
    .lado_izquierdo h2 {
        margin-top: 1rem;
        font-size: 2rem;
        letter-spacing: 0;   
    }

    .section_2 {
        flex-direction: column-reverse;
        height: auto;
        width: 90%;
        justify-content: flex-end;
        /* background-color: antiquewhite; */
        margin-top: 2rem;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .circulo_img{
        width: 23rem;
        height: 23rem;    
        border: .3rem solid var(--figuras);
        margin-right: 0;
    }

    .h2{
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 0;  
    }
}
